.winner-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  margin: 3rem auto;
  border-radius: 0.5rem;
  font-weight: bold;
}
